@model Group12_iFINANCEAPP.Models.MasterAccount

@{
    ViewBag.Title = "Delete Master Account";
}

<h2>Delete Master Account</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

<dl class="dl-horizontal">
    <dt>@Html.DisplayNameFor(m => m.name)</dt>
    <dd>@Html.DisplayFor(m => m.name)</dd>
    <dt>@Html.DisplayNameFor(m => m.openingAmount)</dt>
    <dd>@Html.DisplayFor(m => m.openingAmount)</dd>
    <dt>@Html.DisplayNameFor(m => m.closingAmount)</dt>
    <dd>@Html.DisplayFor(m => m.closingAmount)</dd>
    <dt>Group</dt>
    <dd>@Model.Group.name</dd>
</dl>

@if (ViewBag.ErrorMessage == null)
{
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
}
else
{
    <p>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    </p>
}
