@model Group12_iFINANCEAPP.Models.MasterAccount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MasterAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.openingAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.openingAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.closingAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.closingAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
